.category-list {
	display: flex;
	overflow-x: auto;
	scroll-behavior: smooth;
}

.category-item {
	display: block;
	margin: 0 1.6rem 1.6rem;
}

.category-item picture,
.category-item img {
	display: block;
	height: 24rem;
	width: 24rem;
	object-fit: cover;
}

.category-item > span {
	display: block;
	font-size: var(--text-md);
	margin-top: 1.6rem;
	text-align: center;
	width: 100%;
}

@media only screen and (min-width: 1280px) {
	.category-item {
		margin: 0 2.4rem 1.6rem;
	}

	.category-item picture,
	.category-item img {
		height: 32rem;
		width: 32rem;
	}
}
