.orderContainer {
	max-width: 50.4rem;
	margin: 1.6rem auto;
	padding: 1.6rem 2.4rem;
	border: 1px solid var(--grey);
	font-size: var(--text-md);
}

.orderId {
	font-size: var(--text-md);
}

.orderPrice {
	display: flex;
	flex-direction: column;
	font-size: var(--text-md);
	margin: 8px 0;
}

.priceTitle {
	font-weight: 700;
}

.productCard {
	display: flex;
	font-size: var(--text-md);
	gap: 2.4rem;
	margin: 10px 0;
	outline: 2px solid var(--grey);
}

.productCard > img {
	width: 9.6rem;
	height: 9.6rem;
	display: block;
}

.productCard > span {
	margin-top: 10px;
}
