.wl-pg {
	width: 90%;
	margin: 9.6rem auto 7.2rem;
}

.wl-heading {
	font-weight: 400;
	margin-bottom: 0.8rem;
}

.wl-heading + small {
	font-size: 1.4rem;
	color: var(--grey);
}

.product-list {
	margin: 2.4rem 0;
	display: grid;
	grid-gap: 2.4rem;
	grid-template-columns: repeat(auto-fit, minmax(28rem, 30rem));
}

.card {
	box-shadow: none;
	border-radius: 0;
	height: 50rem;
	width: 100%;
}

.card .card-img {
	border-radius: 0;
}

.card .content {
	height: calc(100% - 30rem);
	display: flex;
	flex-direction: column;
}

.content h4 {
	font-weight: 700;
	margin: 0;
}

.content p {
	margin-top: auto;
}

.overlay-icon i {
	font-size: var(--text-md);
	transform: translateY(1px);
}

.product-list .card-discount {
	color: var(--brand-color);
}

.product-list .action-link {
	background-color: var(--white);
	border: 1px solid var(--brand-color);
	color: var(--brand-color);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .action-link:hover {
	background-color: var(--brand-color);
	color: var(--white);
	transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.product-list .product-card-badge,
.product-list .product-card-badge::before {
	background-color: var(--primary-color);
}

.heading-2 {
	margin: 3.2rem 0;
}
