.cartPriceContainer {
	margin-left: 7.2rem;
	width: 32rem;
}

.cartPriceContainer > h3 {
	padding-bottom: 1.6rem;
}

.priceDetails {
	border-bottom: 1px solid var(--grey);
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-top: 1px solid var(--grey);
}

.priceDetails span {
	display: block;
	font-size: 14px;
	margin: 0.8rem 0;
}

.priceDetails div:last-of-type span {
	text-align: end;
}

.priceDetails .amountSpan {
	border-top: 1px solid var(--grey);
	font-weight: 700;
	font-size: var(--text-md);
	padding: 0.8rem 0;
	margin-bottom: 0;
}

.priceDetails + button {
	display: block;
	width: 100%;
	margin-top: 1.6rem;
	background-color: var(--brand-color);
}

.couponBtn {
	background-color: transparent;
	color: var(--black);
	padding-left: 0;
	margin-bottom: 1.6rem;
}

.backdrop {
	left: 0;
}

.modalContainer {
	font-size: 2.4rem;
	padding: 1.6rem 2.4rem;
}

.modalHeader {
	margin-bottom: 1.6rem;
}

.coupon {
	margin: 8px 0;
}

.coupon label {
	font-size: 1.6rem;
	margin-left: 4px;
}

.couponLabel {
	color: var(--grey);
	cursor: not-allowed;
}

@media only screen and (max-width: 820px) {
	.cartPriceContainer {
		margin: 1.6rem 0;
		align-self: flex-start;
	}
}
