.plPg {
	display: flex;
	margin: 9.6rem 1.6rem 7.2rem;
}

.productList {
	flex-grow: 1;
	margin-left: 3.2rem;
	display: grid;
	grid-gap: 2.4rem 1.6rem;
	grid-template-columns: repeat(auto-fit, 28rem);
	justify-items: center;
	align-items: baseline;
	list-style: none;
}

.plBreadcrumb {
	grid-column: 1/-1;
	font-size: var(--text-md);
	justify-self: flex-start;
}

.plBreadcrumb .currentPg {
	color: var(--info-color);
}

.filterFooter {
	display: none;
	justify-content: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.filterFooter button {
	border-top: 1px solid var(--grey);
	color: var(--black);
	font-size: var(--text-md);
	background-color: var(--lynx-white);
	width: 50%;
	padding: 1.6rem 0;
}

.filterFooter button:first-of-type {
	border-right: 1px solid var(--grey);
}

@media only screen and (max-width: 980px) {
	.productList {
		margin: 0;
		justify-content: center;
	}

	.filterFooter {
		display: flex;
	}
}

@media only screen and (min-width: 1750px) {
	.plPg {
		width: 90%;
		margin: 9.6rem auto 7.2rem;
	}
}
